/* Colors */
$buttonBackgroundColor: #2CB34F;
$white: #ffffff;

/* Font Sizes */
$font-size-primary: 18px;
$font-size-secondary: 16px;
$font-size-third: 14px;
$font-size-fourth: 12px;
$font-size-fifth: 10px;
